/*Прелоадер*/
.preloading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-image: url("../img/preloading.gif");
	background-repeat: no-repeat;
	background-position: center center;
}